.editor {
  border: 1px solid black;
}

.users {
  background: #ddd;
}

.user {
  display: inline-block;
  border: 1px solid black;
}

.editor__menu {
  background: #999;
}

.canvas-wrapper {
  display: flex;
}