#canvas {
  background: #fff;
  border: 2px solid #444;
  border-radius: 3px;
  width: 100vw;
}

.users {
  display: flex;
  justify-content: space-between;

  height: 8vh;
  margin-bottom: 3px;
  border-right: 2px solid #444;
  border-left: 2px solid #444;
  border-bottom: 2px solid #444;

  box-shadow: 0 3px 3px 0 #888;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

.user {
  display: inline-block;
  border: 2px solid #444;
  margin: 2px;
  width: 9vw;
  height: 95%;
  text-align: center;

  box-shadow: 0 0 3px 0 #888;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);
}

.user__title {
  font-family: 'Architects Daughter', cursive;
  font-size: 2vmin;
}

.user__name {
  font-family: 'Lato', sans-serif;
  font-size: 1.6vmin;
  font-weight: bold;
}

.user__controls {
  display: flex;
  justify-content: flex-end;
}

.user__btn {
  margin: 0 3px;
  padding: 0 0.5vmin;

  border-radius: 3px;
  border: 2px solid #444;
  color: #000;
  background: #fff;
  box-shadow: 0 0 1px 0 #000;

  font-family: 'Architects Daughter', cursive;
  font-weight: bold;

  cursor: pointer;
}

.user__permissions {
  display: flex;
  justify-content: space-between;
  margin: 0 1vmin;
}

.user__permission-title {
  font-family: 'Lato', sans-serif;
  font-size: 1.6vmin;
}

.user__permission-status {
  padding: 1vmin;
}

.status-accepted {
  background: green;
}

.status-denied {
  background: red;
}

.users__settings-wrapper {
  position: relative;
}

.editor__menu {
  position: fixed;
  left: -13%;

  height: 91.5vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 14vw;

  margin-right: 3px;
  border-top: 2px solid #444;
  border-bottom: 2px solid #444;
  border-right: 2px solid #444;

  box-shadow: 3px 0 3px 0 #666;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);

  transition: 0.5s;
}

.editor__menu:hover {
  left: 0;
}

.canvas-wrapper {
  display: flex;
}

.tool {
  display: inline-block;
  padding: 15%;
  margin: 6.5%;
  border: 2px solid #444;
  text-align: center;

  box-shadow: 0 0 3px 0 #888;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);

  transition: 1s;
  cursor: pointer;
}

.tool:hover {
  box-shadow: 0 0 3px 3px red;
}

.hidden-tool {
  display: inline-block;
  width: 45%;
  padding: 5px;
  margin: 2.5%;
}

.option-menu {
  position: absolute;
  left: 100%;
  bottom: 0;

  text-align: center;
  width: 20vmin;

  background: #f1f1f1;
  border: 1px solid #333;
  box-shadow: 0 0 3px 1px #333;
}

.option-menu__current-color {
  width: 100%;
  height: 30px;
  margin: 0 auto;
}

.option-menu__cansel-btn {
  padding: 5px;
  background-color: #fff;
  border: 1px solir #333;
  cursor: pointer;
}

.setting {
  position: relative;
  display: inline-block;
  width: 90%;
  min-height: 40px;
  max-height: 40px;
  overflow: hidden;
  padding: 0;
  margin: 2.5%;
  border: 2px solid #444;
  text-align: center;

  box-shadow: 0 0 3px 0 #888;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.8);

  transition: 1s;
  cursor: pointer;
}

.setting:hover {
  box-shadow: 0 0 3px 3px red;
}

.setting > div {
  display: flex;
  justify-content: space-between;
}

.setting__value {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 15px;
  width: 50%;
}

.setting__input {
  text-align: right;
  max-width: 100%;
  border: none;
}

.option-menu__colors {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  width: 80%;
  margin: 0 auto;
}

.option-menu__color {
  width: 3.7vmin;
  height: 3.7vmin;
}

.option-menu__input {
  width: 80%;
}

.users__control-btns--wrapper {
  display: flex;
  align-items: center;
}

.users__control-btn {
  padding: 1vmin 2vmin;
  margin: 0 10px;

  border-radius: 3px;
  border: 2px solid #444;
  color: #000;
  background: #fff;
  box-shadow: 3px 3px 3px 0 #000;

  font-family: 'Architects Daughter', cursive;
  font-size: 2vmin;

  cursor: pointer;
  transition: 0.6s;
}

.users__control-btn:hover {
  border-color: red;
}

#pen {
  background-image: url(../images/pen.svg);
  background-size: contain;
  background-position: center;
}

#line {
  background-image: url(../images/line.svg);
  background-size: contain;
  background-position: center;
}

#rectangle {
  background-image: url(../images/rectangle.svg);
  background-size: contain;
  background-position: center;
}

#ellipse {
  background-image: url(../images/ellipse.svg);
  background-size: contain;
  background-position: center;
}

#triangle {
  background-image: url(../images/triangle.svg);
  background-size: contain;
  background-position: center;
}

#erase {
  background-image: url(../images/eraser.svg);
  background-size: contain;
  background-position: center;
}

#lineWidth {
  position: relative;
  padding: 15px;
  // background-image: url(../images/linewidth.svg);
  // background-repeat: no-repeat;
  // background-size: contain;
  // background-position: 10% center;
}

.line-width-point {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  background-color: #000;
  width: 10px;
}

.show-hide-arrow {
  position: absolute;
  left: 100%;
  top: 0;
  bottom: 0;

  width: 50px;
  height: 50px;
  margin: auto;

  background-image: url(../images/arrowright.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% center;
}

.editor__menu:hover .show-hide-arrow {
  background-image: url(../images/arrowleft.svg)
}

#fillStyle {
  background-image: url(../images/fill.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% center;
}

#strokeStyle {
  background-image: url(../images/stroke.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% center;
}

.you {
  border: 2px solid red;
}